.header-container {
  text-align: center;
  padding: 10%;
  background: #E3E3E3;
}

.header-container h1 {
  font-size: 2.5em;
  padding: 20px 0;
}

.header-container  p{
  font-size: 1.2em;
  opacity: 0.8;
  margin-bottom: 40px;
}

.header-container a {
  background: #009900;
  text-decoration-line: none;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
}