.card-container {
  width: 260px;
  margin: 20px;
}

.card-info-container {
  background: #E1E0E0;
  padding: 10px 0 15px 10px;
  margin-top: -5px;
}

.card-info-container p {
  font-size: 0.8em;
}

.tutor-name {
  font-weight: bold;
  padding: 10px 0 20px 0;
}

.tutor-city {
  background: #F4F4F4;
  padding: 7px;
  width: 100px;
  font-size: 0.7em;
  text-align: center;
  border-radius: 5px;
  margin: 15px 0 20px 0;
}

.students-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 15px 0 0 0;
}

.card-title {
  font-size: 0.9em;
}